  body
  {
    background-color:white;
    overflow: hidden;
  }

  p
  {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
  }

  a
  {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
  }

  #mockImg
  {
    margin-top:3.5%;
    width:99%;
    height:95vh;
    position:absolute;
    text-align: center;
    z-index:-1;
  }

  #title1
  {
    font-size:11.77vw;
    margin-left:1.1vw !important;
    color:black;
    font-family: 'Cabin', sans-serif;
    font-weight:600;
  }

    #titleWandering
  {
    font-size:11.77vw;
    color:black;
    margin-left:9.8vw !important;
    font-family: 'Cabin', sans-serif;
    font-weight:600;
  }

  #title2
  {
    font-size:3.2vh;
    color:black;
    text-align: justify;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
  }

  #fbicon
  {
    position:relative;
    width:1.41vw;
    margin-left:80%;
    margin-top:2%;
  }

  #ballOverlay
  {
    display:none;
  }

  .ball
  {
    width:1.3vw !important;
    height:1.3vw !important;
    border-radius:25px;
    position:absolute;
    cursor:pointer;
  }

  .ball .greyball
  {
    background-color:grey !important;
  }

  .ball .lightgreyball
  {
    background-color:lightgrey !important;
  }

  .hoveringMenuText
  {
    position:absolute;
    font-size:1.2vw;
    font-family: 'Cabin', sans-serif;
  }

  .hoveringMenuText a
  {
    color:black;
    text-decoration:none;
  }

  .hoveringMenuText a:hover
  {
    color:black !important;
    text-decoration:none !important;
  }

  .hoveringMenuText a:visited
  {
    color:black !important;
    text-decoration:none !important;
  }

  #textBehindScenesWhite a
  {
    font-weight:400 !important;
    color:white !important;
  }

  #theMakersDiv p
  {
    font-size:1.2vw;
    color:black;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: justify;
  }

  #theMakersDiv a
  {
    font-size:1.2vw;
    color:black;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    text-align: justify;
    text-decoration: underline;
  }

  #theConceptDiv p
  {
    font-size:1.3vw;
    color:black;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    text-align: justify;
  }

  #theWhereaboutsDiv p
  {
    font-size:1.2vw;
    color:black;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-align: justify;
  }

  #theWhereaboutsDiv a
  {
    font-size:1.2vw;
    color:black;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    text-align: justify;
    text-decoration: underline;
  }

  .rslides {
  margin: 0 auto;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: red; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0,0,0,0);
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 0px;
  height: 0px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
